<nav class="navbar top-bar navbar-light py-0 py-xl-3" *ngIf="roles=='Admin'">
    <div class="container-fluid p-0">
        <div class="d-flex align-items-center w-100">

            <!-- Logo START -->
            <div class="d-flex align-items-center d-xl-none">
                <a class="navbar-brand" >
                    <img class="navbar-brand-item h-40px" src="assets/images/logo-icon.svg" alt="">
                </a>
            </div>
            <!-- Logo END -->

            <!-- Toggler for sidebar START -->
            <div class="navbar-expand-xl sidebar-offcanvas-menu">
                <button class="navbar-toggler me-auto p-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false" aria-label="Toggle navigation" data-bs-auto-close="outside">
                    <i class="bi bi-list text-primary fa-fw" data-bs-target="#offcanvasMenu"></i>
                </button>
            </div>
            <!-- Toggler for sidebar END -->
            
            <!-- Top bar left -->
            <div class="navbar-expand-lg ms-auto ms-xl-0">
            
            </div>
            <ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">
                        
                <!-- Profile dropdown START -->
                <li class="nav-item ms-3 dropdown">
                    <!-- Avatar -->
                    <a class="avatar avatar-sm p-0" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="avatar-img rounded-2" src="assets/images/avatar/01.jpg" alt="avatar">
                    </a>

                    <ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
                        <!-- Profile info -->
                        <li class="px-3 mb-3">
                            <div class="d-flex align-items-center">
                                <!-- Avatar -->
                                <div class="avatar me-3">
                                    <img class="avatar-img rounded-circle shadow" src="assets/images/avatar/01.jpg" alt="avatar">
                                </div>
                                <div>
                                    <a class="h6 mt-2 mt-sm-0" routerLink="/admin/dashboard">Admin</a>
                                    <p class="small m-0">Admin@gmail.com</p>
                                </div>
                            </div>
                        </li>

                        <!-- Links -->
                        <li> <hr class="dropdown-divider"></li>
                        <!-- <li><a class="dropdown-item" href="#"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li> -->
                        <!-- <li><a class="dropdown-item" href="#"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li> -->
                        <li><a class="dropdown-item bg-danger-soft-hover" routerLink="/Login" (click)="Logout()"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
                    </ul>
                </li>
                <!-- Profile dropdown END -->
            </ul>
            <!-- Top bar right END -->
        </div>
    </div>
</nav>


<header class="navbar-light header-sticky" *ngIf="!(roles ==='Admin')">
	<!-- Logo Nav START -->
	<nav class="navbar navbar-expand-xl">
		<div class="container">
			<!-- Logo START -->
			<a class="navbar-brand" routerLink="/docAppoint">
				<img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
				<img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
			</a>
			<!-- Logo END -->
			
			<!-- Responsive navbar toggler -->
			<button class="navbar-toggler ms-auto mx-3 me-md-0 p-0 p-sm-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-animation">
					<span></span>
					<span></span>
					<span></span>
				</span>
			</button>

			<!-- Main navbar START -->
			<div class="navbar-collapse collapse" id="navbarCollapse">
				<ul class="navbar-nav navbar-nav-scroll">				
					

					<!-- Nav item Account -->
					<li class="nav-item dropdown" *ngIf="roles=='Client'||roles=='Doctor'||roles == 'Assistant'">
						<a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Accounts</a>
						<ul class="dropdown-menu" aria-labelledby="accounntMenu">

							<li class="dropdown-submenu dropend"  *ngIf="roles=='Client'">
								<a class="dropdown-item" routerLink="/dashboard/data">User Dashboard</a>								
							</li>
							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend">
								<a class="dropdown-item dropdown-toggle" routerLink="/docAppoint/profile">User Profile</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" routerLink="/docAppoint/profile">My Profile</a> </li>
									<!-- <li> <a class="dropdown-item" routerLink="/profile">My Bookings</a> </li> -->
									<!-- <li> <a class="dropdown-item" routerLink="/profile">Delete Profile</a> </li> -->
								</ul>
							</li>	
							

						</ul>
					</li>
					<li class="nav-item dropdown" *ngIf="roles=='Doctor'&& userLoggedIn ||roles == 'Assistant'">
						<a class="nav-link dropdown-toggle" href="#" id="accounntMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctor Dashboard</a>
						<ul class="dropdown-menu" aria-labelledby="accounntMenu">
							
							<!-- Dropdown submenu -->
							<li class="dropdown-submenu dropend" *ngIf="roles==='Doctor'&& userLoggedIn || roles == 'Assistant'">
								<a class="dropdown-item dropdown-toggle" routerLink="/doctor/dashboard">Doctor Dashboard</a>
								<ul class="dropdown-menu" data-bs-popper="none">
									<li> <a class="dropdown-item" routerLink="/doctor/dashboard">Dashboard</a> </li>
									<!-- <li> <a class="dropdown-item" href="agent-listings.html">Listings</a> </li> -->
									<!-- <li> <a class="dropdown-item" routerLink="/docAppoint/Bookings">Bookings</a> </li> -->
									<!-- <li> <a class="dropdown-item" href="agent-activities.html">Activities</a> </li> -->
									<!-- <li> <a class="dropdown-item" href="agent-earnings.html">Earnings</a> </li> -->
									<!-- <li> <a class="dropdown-item" href="agent-reviews.html">Reviews</a> </li> -->
									<!-- <li> <a class="dropdown-item" href="agent-settings.html">Settings</a> </li> -->
								</ul>
							</li>
							
						</ul>
					</li>

					<!-- Nav item Contact -->
										
					<li class="nav-item" *ngIf="!(roles === 'Client' || roles === 'Doctor' || roles ==='Admin' ||roles == 'Assistant')"> <a routerLink="/Login" class="nav-link small pb-2"><i class="far fa-user me-2" ></i>Login</a> </li>
					<li class="nav-item" *ngIf="!(roles === 'Client' || roles === 'Doctor' || roles ==='Admin'||roles == 'Assistant')"> <a routerLink="/Register" class="nav-link small pb-2"><i class="far fa-user me-2"></i>SignUp</a> </li>
					<!-- <li class="nav-item"> <a class="nav-link" >Contact Us</a>	</li> -->
				</ul>
			</div>
			<!-- Main navbar END -->

			<!-- Profile and Notification START -->
			<ul class="nav flex-row align-items-center list-unstyled ms-xl-auto">

				
				<!-- Profile dropdown START -->
				<li class="nav-item ms-3 dropdown" *ngIf="roles=='Client'||roles=='Doctor'||roles == 'Assistant'">
					<!-- Avatar -->
					<a class="avatar avatar-xs p-0" href="#" id="profileDropdown" role="button" data-bs-auto-close="outside" data-bs-display="static" data-bs-toggle="dropdown" aria-expanded="false">
						<img class="avatar-img rounded-circle" [src]="UserProfileImg" alt="avatar">
					</a>

					<!-- Profile dropdown START -->
					<ul class="dropdown-menu dropdown-animation dropdown-menu-end shadow pt-3" aria-labelledby="profileDropdown">
						<!-- Profile info -->
						<li class="px-3 mb-3">
							<div class="d-flex align-items-center">
								<!-- Avatar -->
								<div class="avatar me-3">
									<img class="avatar-img rounded-circle shadow" [src]="UserProfileImg" alt="avatar">
								</div>
								<div>
									<a class="h6 mt-2 mt-sm-0" routerLink="/docAppoint/profile">{{firstName}}</a>
									<p class="small m-0">{{email}}</p>
								</div>
							</div>
						</li>

						<!-- Links -->
						<li> <hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" routerLink="/docAppoint/Bookings"><i class="bi bi-bookmark-check fa-fw me-2"></i>My Bookings</a></li>
						<!-- <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-heart fa-fw me-2"></i>My Wishlist</a></li> -->
						<!-- <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-gear fa-fw me-2"></i>Settings</a></li> -->
						<!-- <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-info-circle fa-fw me-2"></i>Help Center</a></li> -->
						<li><a class="dropdown-item bg-danger-soft-hover" routerLink="/Login" (click)="Logout()"><i class="bi bi-power fa-fw me-2"></i>Sign Out</a></li>
						<li> <hr class="dropdown-divider"></li>

					</ul>
					<!-- Profile dropdown END -->
				</li>
				<!-- Profile dropdown END -->

				
			</ul>
			<!-- Profile and Notification START -->

		</div>
	</nav>
	<!-- Logo Nav END -->
</header>
