<!-- Sidebar START -->
<nav class="navbar sidebar navbar-expand-xl navbar-light">
    <!-- Navbar brand for xl START -->
    <div class="d-flex align-items-center">
        <a class="navbar-brand">
            <img class="light-mode-item navbar-brand-item" src="assets/images/logo.svg" alt="logo">
            <img class="dark-mode-item navbar-brand-item" src="assets/images/logo-light.svg" alt="logo">
        </a>
    </div>
    <!-- Navbar brand for xl END -->

    <div class="offcanvas offcanvas-start flex-row custom-scrollbar h-100" data-bs-backdrop="true" tabindex="-1"
        id="offcanvasSidebar">
        <div class="offcanvas-body sidebar-content d-flex flex-column pt-4">

            <!-- Sidebar menu START -->
            <ul class="navbar-nav flex-column" id="navbar-sidebar">
                <!-- Menu item -->
                <li class="nav-item"><a routerLink="/admin/dashboard" class="nav-link">Dashboard</a></li>


                <li class="nav-item"><a routerLink="/admin/doctorpendinglist" class="nav-link">Pending Doctor</a></li>
                
                <li class="nav-item"><a routerLink="/admin/assistantpending" class="nav-link">Pending Assistant</a></li>

                <!-- Menu item -->
                <!-- <li class="nav-item"><a routerLink="/admin/clientlist" class="nav-link">Slot List</a></li> -->

                <!-- Menu item -->
                <li class="nav-item"><a routerLink="/admin/paitentlist" class="nav-link">Paitent List</a></li>

                <!-- Menu item -->
                <!-- <li class="nav-item"><a routerLink="/admin/clientlist" class="nav-link">Assistant List</a></li> -->

                <!-- Menu item -->
                <li class="nav-item"><a routerLink="/admin/doctorlist" class="nav-link">Doctor List</a></li>

                <li class="nav-item"><a routerLink="/admin/assistantdetail" class="nav-link">Assistant List</a></li>


                
                <!-- Menu item -->
                <!-- <li class="nav-item"> <a class="nav-link" href="admin-earnings.html">Earnings</a></li> -->

                <!-- Menu item -->
                <!-- <li class="nav-item"> <a class="nav-link" href="admin-settings.html">Admin Settings</a></li> -->

                <!-- Menu item -->


                <!-- Title -->

            </ul>
            <!-- Sidebar menu end -->

            <!-- Sidebar footer START -->
            <!-- <div class="d-flex align-items-center justify-content-between text-primary-hover mt-auto p-3">
                <a class="h6 fw-light mb-0 text-body" href="sign-in.html" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Sign out">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i> Log out
                </a>
                <a class="h6 mb-0 text-body" href="admin-settings.html" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Settings">
                    <i class="bi bi-gear-fill"></i>
                </a>
            </div> -->
            <!-- Sidebar footer END -->

        </div>
    </div>
</nav>
<!-- Sidebar END -->